/* Padrão do campeonato */

.main-body {
    background-color: #ececec;
}

.main-container {
    text-align: center;
}

.top-content {
    text-align: left;
    margin-top: -40px;
}

.return {
    color: #7c7c7c;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 1.2em;
}